node-red/.flows.json.backup
[{"id":"1461c02c.ab686","type":"tab","label":"Power","disabled":false,"info":""},{"id":"78116123.7a2ea","type":"tab","label":"Daily Total","disabled":false,"info":""},{"id":"54863ba8.7b21d4","type":"server","name":"Home Assistant","addon":true},{"id":"fd428bc8.145f","type":"influxdb","hostname":"a0d7b954-influxdb","port":"8086","protocol":"http","database":"nodered","name":"InfluxDB NodeRed","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"ac27fdaa.2c53f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"InfluxDB2.0","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.5.85:8086","rejectUnauthorized":true},{"id":"aabaca39.2253b","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.appliance_tumble_dryer_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":260,"wires":[["fcf2691f.6f0b68"]]},{"id":"fcf2691f.6f0b68","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Appliance Tumble Dryer Power","measurement":"Dryer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":830,"y":260,"wires":[]},{"id":"48e41951.0276d8","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.appliance_washing_machine_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":320,"wires":[["ad44d5d8.ba0048"]]},{"id":"ad44d5d8.ba0048","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Appliance Washing Machine Power","measurement":"Washer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":840,"y":320,"wires":[]},{"id":"14a15d45.9a84db","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.appliance_water_heater_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":380,"wires":[["a1db8723.70646"]]},{"id":"a1db8723.70646","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Appliance Water Heater Power","measurement":"Water","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":830,"y":380,"wires":[]},{"id":"66d203f.4c10c7c","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.attic_freezer_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":390,"y":440,"wires":[["ebe4ca42.d41f8"]]},{"id":"ebe4ca42.d41f8","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Attic Freezer Power","measurement":"A. Freezer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":790,"y":440,"wires":[]},{"id":"7615a26.6971f5c","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.bathroom_floor_heating_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":500,"wires":[["a000055c.787cf"]]},{"id":"a000055c.787cf","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Bathroom Floor Heating Power","measurement":"Bath Floor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":830,"y":500,"wires":[]},{"id":"da559bc6.506088","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.booth_it_and_network_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":560,"wires":[["1382be9e.7b0d21"]]},{"id":"1382be9e.7b0d21","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Booth IT and Network Power","measurement":"IT","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"nodered","x":820,"y":560,"wires":[]},{"id":"2fb332b2.84fdde","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.entrance_ceiling_spot_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":620,"wires":[["2eddf1d1.37ccbe"]]},{"id":"2eddf1d1.37ccbe","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Entrance Ceiling Spot Power","measurement":"E. Cei. Spot","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":820,"y":620,"wires":[]},{"id":"3aa1619.316fb1e","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.garage_car_charger_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":410,"y":680,"wires":[["bd6bc6cc.46057"]]},{"id":"bd6bc6cc.46057","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Garage Car Charger Power","measurement":"Car Charger","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":820,"y":680,"wires":[]},{"id":"d8caa9e0.28734","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_coffe_maker_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":410,"y":740,"wires":[["4e2ac329.34fa9c"]]},{"id":"4e2ac329.34fa9c","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Kitchen Coffe Maker Power","measurement":"Coffe Maker","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":820,"y":740,"wires":[]},{"id":"4e808977.9354c","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_dishwasher_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":410,"y":800,"wires":[["3caf8284.6db076"]]},{"id":"3caf8284.6db076","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Kitchen Dish Washer Power","measurement":"Dishwasher","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":820,"y":800,"wires":[]},{"id":"21c85e72.ccb102","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_freezer_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":400,"y":860,"wires":[["3d7b0233.7e2fa6"]]},{"id":"3d7b0233.7e2fa6","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Kitchen Freezer Power","measurement":"K. Freezer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":800,"y":860,"wires":[]},{"id":"487feccb.7e706c","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_fridge_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":390,"y":920,"wires":[["5ca85fa7.dc9c38"]]},{"id":"5ca85fa7.dc9c38","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Kitchen Fridge Power","measurement":"Fridge","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":800,"y":920,"wires":[]},{"id":"83418d.e27f3e7","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_oven_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":390,"y":980,"wires":[["9c1f78e4.e34a58"]]},{"id":"9c1f78e4.e34a58","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Kitchen Oven Power","measurement":"Oven","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":800,"y":980,"wires":[]},{"id":"d42773a1.42074","type":"poll-state","z":"1461c02c.ab686","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.livingroom_audio_video_power","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":1040,"wires":[["597e2dc8.e9aec4"]]},{"id":"597e2dc8.e9aec4","type":"influxdb out","z":"1461c02c.ab686","influxdb":"ac27fdaa.2c53f","name":"Livingroom Audio Video Power","measurement":"AV","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"power","x":830,"y":1040,"wires":[]},{"id":"2186b031.d86378","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.tibber_daily_energy_total","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":350,"y":200,"wires":[["dd0d000a.5ac31"]]},{"id":"dd0d000a.5ac31","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Tibber Daily Energy Total","measurement":"Total Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":830,"y":200,"wires":[]},{"id":"be934822.b1e1b","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.appliance_tumble_dryer_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":390,"y":260,"wires":[["37cc7c22.a4a0d4"]]},{"id":"37cc7c22.a4a0d4","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Appliance Tumble Dryer Daily Energy","measurement":"Dryer Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":870,"y":260,"wires":[]},{"id":"37503bb1.32c10c","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.appliance_washing_machine_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":400,"y":320,"wires":[["e059fd3c.8e11a8"]]},{"id":"e059fd3c.8e11a8","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Appliance Washing Machine Daily Energy","measurement":"Washer Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":880,"y":320,"wires":[]},{"id":"fbedc3f6.ffcf3","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.appliance_water_heater_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":390,"y":380,"wires":[["59524b2a.877294"]]},{"id":"59524b2a.877294","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Appliance Water Heater Daily Energy","measurement":"Water Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":870,"y":380,"wires":[]},{"id":"d31d9407.fc4cf","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.attic_freezer_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":350,"y":440,"wires":[["8c2756c7.f39eb"]]},{"id":"8c2756c7.f39eb","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Attic Freezer Daily Energy","measurement":"A Freezer Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":840,"y":440,"wires":[]},{"id":"be980d49.d0ea68","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.bathroom_floor_heating_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":390,"y":500,"wires":[["d0c889a2.c31f18"]]},{"id":"d0c889a2.c31f18","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Bathroom Floor Heating Daily Energy","measurement":"Bath Floor Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":870,"y":500,"wires":[]},{"id":"ec7a8e20.ce01b8","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.booth_it_and_network_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":380,"y":560,"wires":[["eb828600.d3a29"]]},{"id":"eb828600.d3a29","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Booth IT Network Daily Energy","measurement":"IT Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":850,"y":560,"wires":[]},{"id":"55f13f17.1d91b","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.entrance_ceiling_spot_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":380,"y":620,"wires":[["5396eff8.2f4628"]]},{"id":"5396eff8.2f4628","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Entrance Ceiling Spot Daily Energy","measurement":"E Ceiling Spot Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":860,"y":620,"wires":[]},{"id":"86eb552b.ee672","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.garage_car_charger_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":370,"y":680,"wires":[["489f119f.41f0a8"]]},{"id":"489f119f.41f0a8","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Garage Car Charger Daily Energy","measurement":"Car Charger Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":860,"y":680,"wires":[]},{"id":"2f0f5282.91f68e","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.guest_room_heater_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":370,"y":740,"wires":[["b9bcef0f.95eee"]]},{"id":"b9bcef0f.95eee","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Guest Room Heater Daily Energy","measurement":"Guest Heater Daily","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":860,"y":740,"wires":[]},{"id":"3a3c5f67.df5da","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_coffe_maker_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":380,"y":800,"wires":[["e696076.f0fe578"]]},{"id":"e696076.f0fe578","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Kitchen Coffe Maker Daily Energy","measurement":"appliance_tumble_dryer_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":860,"y":800,"wires":[]},{"id":"862a1a8b.871b58","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_dishwasher_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":370,"y":860,"wires":[["ad067f11.170a88"]]},{"id":"ad067f11.170a88","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Kitchen Dishwasher Daily Energy","measurement":"kitchen_dishwasher_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":860,"y":860,"wires":[]},{"id":"5c6a699d.5ca628","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_freezer_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":360,"y":920,"wires":[["2a1a9754.15cbc8"]]},{"id":"2a1a9754.15cbc8","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Kitchen Freezer Daily Energy","measurement":"kitchen_freezer_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":850,"y":920,"wires":[]},{"id":"3224cd65.a167da","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_fridge_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":350,"y":980,"wires":[["bdd48db0.0a3c4"]]},{"id":"bdd48db0.0a3c4","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Kitchen Fridge Daily Energy","measurement":"kitchen_fridge_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":840,"y":980,"wires":[]},{"id":"58fa0b56.52369c","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_oven_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":350,"y":1040,"wires":[["52625e96.1c2de8"]]},{"id":"52625e96.1c2de8","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Kitchen Oven Daily Energy","measurement":"kitchen_oven_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":840,"y":1040,"wires":[]},{"id":"932c1fa6.f622b8","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.kitchen_spot_dimmer_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":380,"y":1100,"wires":[["f7eb2654.02dc48"]]},{"id":"f7eb2654.02dc48","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Kitchen Spot Dimmer Daily Energy","measurement":"appliance_tumble_dryer_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":860,"y":1100,"wires":[]},{"id":"78e58e58.45329","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.livingroom_audio_video_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":380,"y":1160,"wires":[["63a7e8e1.1ada78"]]},{"id":"63a7e8e1.1ada78","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Livingroom AV Daily Energy","measurement":"livingroom_audiovideo_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":840,"y":1160,"wires":[]},{"id":"eabcd906.0d1b9","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.livingroom_heater_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":370,"y":1220,"wires":[["6181e0a1.016ab8"]]},{"id":"6181e0a1.016ab8","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Livingroom Heater Daily Energy","measurement":"livingroom_heater_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":850,"y":1220,"wires":[]},{"id":"859df331.e6541","type":"poll-state","z":"78116123.7a2ea","name":"","server":"54863ba8.7b21d4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.master_bedroom_namron_dimmer_daily_energy","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":420,"y":1280,"wires":[["43f32693.ea96f8"]]},{"id":"43f32693.ea96f8","type":"influxdb out","z":"78116123.7a2ea","influxdb":"ac27fdaa.2c53f","name":"Master Bedrrom Namron Dimmer Daily Energy","measurement":"master_bedroom_namron_dimmer_daily_energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"private","bucket":"usage","x":900,"y":1280,"wires":[]}]